{% extends "NzoJaredBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Confirmation {% endblock %}


{% block content %}   
     <div class="block">
        <div class="confirm">
            <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
        </div>
     </div>
{% endblock content %}
    
                               