                        <form action="{{ path('fos_user_resetting_send_email') }}" method="post" class="box login">
                       
                        <fieldset class="boxBody">
                            <h2>Mot de Passe oublié</h2>
                        {% if invalid_username is defined %}
                        <div class="validation">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
                        {% endif %}
                        <div>
                            <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}:</label>
                            <input type="text" name="username" value="" required="" class="">
                        </div>
                        
                       
                        </fieldset>
                        <footer>
                        
                             <input type="submit" tabindex="4" name="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" class="btnLogin" />
                       
                        </footer>
                        </form>
