{% extends "NzoJaredBundle::layout.html.twig" %}


{% block content %}
    
     <div class="main">
           {% include "NzoUserBundle:Resetting:request_content.html.twig" %}
    </div>
    
{% endblock content %}
