{% extends "NzoJaredBundle::layout.html.twig" %}


{% block title %} {{ parent() }} - Mot de Passe Oublier{% endblock %}


{% block content %}
    
     <div class="main">
           {% include "NzoUserBundle:Resetting:reset_content.html.twig" %}
    </div>
    
{% endblock content %}
