{% extends is_granted('ROLE_USER') 
    ? 'NzoJaredBundle::layoutUsers.html.twig' 
    : 'NzoJaredBundle::layoutAdmin.html.twig' %}

{% block body %}
        <div class="container">
            <div class="row">
{% block content %}
                    <div class="bg-login" style="margin-top: 0;">
    {% include "NzoUserBundle:ChangePassword:changePassword_content.html.twig" %}
</div>
{% endblock content %}
                    </div>
       </div>
    {% endblock body %} 
