{% extends is_granted('ROLE_USER') 
    ? 'NzoJaredBundle::layoutUsers.html.twig' 
    : 'NzoJaredBundle::layoutAdmin.html.twig' %}


{% block content %}
    
     <div class="main">
           {% include "NzoUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
    
{% endblock content %}
