{% extends "NzoJaredBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Registration {% endblock %}


{% block content %}   

<div class="main">
    {% include "NzoUserBundle:Registration:register_content.html.twig" %}      
</div> 

{% endblock content %}